body {
    font-family: "Sigmar", cursive;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 60px;
    background: #dcd287;
    border-radius: 10px;
  }
  .search {
    margin-bottom: 20px;
  }
  .gray {
    color: rgb(112, 111, 111);
  }
  .desc {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .mainTemp {
    font-size: 20px;
    font-weight: 700;
  }
  